Step 1. Import the necessary libraries

In [39]:
import pandas as pd

Step 2. Import the dataset from this address (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)
(The URL of the TSV file on the website)
Note: TSV is very similar to CSV but TSV is a very efficient for Javascript/Perl/Python to process. TSV is mainly for processing by software such as Python whilst CSV is mainly for importing by Excel.

In [40]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

Step 3. Assign it to a variable called chipo.
Use the read_csv() function to read the TSV data and specify the argument sep='\t' to tell it it is tab delimited
chipo = pd.read_csv(url, sep='\t')

In [41]:
chipo = pd.read_csv(url, sep='\t')

Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
# Step 5. What is the number of observations in the dataset (solution 1)?
# counts the number of rows in a dataframe
print(len(chipo))

4622

In [7]:
# Step 5. What is the number of observations in the dataset (solution 2)?
#
print(chipo.count)

<bound method DataFrame.count of       order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa  \
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [11]:
# Step 6. What is the number of columns in the dataset? (method 1)

print(chipo.shape[1])

5

In [12]:
# Step 6. What is the number of columns in the dataset? (method 2)

print(len(chipo.columns))

5

In [4]:
# Step 7: Print the name of all the columns.
# df.columns: Gets the column labels of the DataFrame

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
# Step 8. How is the dataset indexed?
# Dataframe.index: Get's the index values of the data types including its data type 

'''
The index of a DataFrame is a series of labels that identify each row. 
The labels can be integers, strings, or any other hashable type. 
The index is used for label-based access and alignment, and can be accessed or modified using this attribute.
'''

chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?
How to group-count by a particular colum
The most ordered item was: Chicken Bow@726 count


Pandas groupby().count() is used to group columns and count the number of occurrences of each unique value in a specific 
column or combination of columns.

Groupby() function is used to collect identical data into groups and apply aggregation functions to the GroupBy object to 
summarize and analyze the grouped data. Common aggregation functions include sum, mean, count, min, max, and more.

In [5]:
chipo.groupby(['item_name'])['item_name'].count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: item_name, dtype: int64

Step 9 (Modified with assigning a column name to the count aggregate results)

In [6]:
chipo.groupby(['item_name'])['item_name'].count().reset_index(name="Count of Items")

                                item_name  Count of Items
0                       6 Pack Soft Drink              54
1                           Barbacoa Bowl              66
2                        Barbacoa Burrito              91
3                   Barbacoa Crispy Tacos              11
4                     Barbacoa Salad Bowl              10
5                     Barbacoa Soft Tacos              25
6                           Bottled Water             162
7                                    Bowl               2
8                                 Burrito               6
9                             Canned Soda             104
10                      Canned Soft Drink             301
11                          Carnitas Bowl              68
12                       Carnitas Burrito              59
13                  Carnitas Crispy Tacos               7
14                         Carnitas Salad               1
15                    Carnitas Salad Bowl               6
16                    Carnitas Soft Tacos              40
17                           Chicken Bowl             726
18                        Chicken Burrito             553
19                   Chicken Crispy Tacos              47
20                          Chicken Salad               9
21                     Chicken Salad Bowl             110
22                     Chicken Soft Tacos             115
23                                  Chips             211
24           Chips and Fresh Tomato Salsa             110
25                    Chips and Guacamole             479
26      Chips and Mild Fresh Tomato Salsa               1
27     Chips and Roasted Chili Corn Salsa              22
28     Chips and Roasted Chili-Corn Salsa              18
29  Chips and Tomatillo Green Chili Salsa              43
30    Chips and Tomatillo Red Chili Salsa              48
31  Chips and Tomatillo-Green Chili Salsa              31
32    Chips and Tomatillo-Red Chili Salsa              20
33                           Crispy Tacos               2
34                                   Izze              20
35                       Nantucket Nectar              27
36                                  Salad               2
37                          Side of Chips             101
38                             Steak Bowl             211
39                          Steak Burrito             368
40                     Steak Crispy Tacos              35
41                            Steak Salad               4
42                       Steak Salad Bowl              29
43                       Steak Soft Tacos              55
44                            Veggie Bowl              85
45                         Veggie Burrito              95
46                    Veggie Crispy Tacos               1
47                           Veggie Salad               6
48                      Veggie Salad Bowl              18
49                      Veggie Soft Tacos               7

Step 9 (Modified with assigning a column name to the count aggregate results and sorted by the aggregate column)

In [7]:
chipo_grouped_count = chipo.groupby(['item_name'])['item_name'].count().reset_index(name="Count of Items")
chipo_count_sorted_count = chipo_grouped_count.sort_values('Count of Items', ascending=False)
print(chipo_count_sorted_count)

                                item_name  Count of Items
17                           Chicken Bowl             726
18                        Chicken Burrito             553
25                    Chips and Guacamole             479
39                          Steak Burrito             368
10                      Canned Soft Drink             301
38                             Steak Bowl             211
23                                  Chips             211
6                           Bottled Water             162
22                     Chicken Soft Tacos             115
21                     Chicken Salad Bowl             110
24           Chips and Fresh Tomato Salsa             110
9                             Canned Soda             104
37                          Side of Chips             101
45                         Veggie Burrito              95
2                        Barbacoa Burrito              91
44                            Veggie Bowl              85
11                          Carnitas Bowl              68
1                           Barbacoa Bowl              66
12                       Carnitas Burrito              59
43                       Steak Soft Tacos              55
0                       6 Pack Soft Drink              54
30    Chips and Tomatillo Red Chili Salsa              48
19                   Chicken Crispy Tacos              47
29  Chips and Tomatillo Green Chili Salsa              43
16                    Carnitas Soft Tacos              40
40                     Steak Crispy Tacos              35
31  Chips and Tomatillo-Green Chili Salsa              31
42                       Steak Salad Bowl              29
35                       Nantucket Nectar              27
5                     Barbacoa Soft Tacos              25
27     Chips and Roasted Chili Corn Salsa              22
32    Chips and Tomatillo-Red Chili Salsa              20
34                                   Izze              20
48                      Veggie Salad Bowl              18
28     Chips and Roasted Chili-Corn Salsa              18
3                   Barbacoa Crispy Tacos              11
4                     Barbacoa Salad Bowl              10
20                          Chicken Salad               9
13                  Carnitas Crispy Tacos               7
49                      Veggie Soft Tacos               7
8                                 Burrito               6
47                           Veggie Salad               6
15                    Carnitas Salad Bowl               6
41                            Steak Salad               4
7                                    Bowl               2
36                                  Salad               2
33                           Crispy Tacos               2
26      Chips and Mild Fresh Tomato Salsa               1
14                         Carnitas Salad               1
46                    Veggie Crispy Tacos               1

Step 10. For the most-ordered item, how many items were ordered?
See above (Step 9 related). 

Answer: For the most ordered item a total of 726 items were ordered

Step 11. What was the most ordered item in the choice_description column?

Answer: The most ordered item in the choice description is [Diet Coke]

In [17]:
'''
The option context of Pandas being used to modify the number of rows and columns to display
The settings are local to this statement i.e. they don't work for other dataframes further down
'''

with pd.option_context('display.max_rows', 5,
                        'display.max_columns', None,
                        'display.precision',3):

    chipo_grouped_count = chipo.groupby(['choice_description'])['choice_description'].count().reset_index(name="Count of Items")
    chipo_count_sorted_count = chipo_grouped_count.sort_values('Count of Items', ascending=False)
    print(chipo_count_sorted_count)

                                     choice_description  Count of Items
15                                          [Diet Coke]             134
14                                               [Coke]             123
...                                                 ...             ...
489   [Roasted Chili Corn Salsa, [Fajita Vegetables,...               1
1042  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...               1

[1043 rows x 2 columns]

# Step 12. How many items were ordered in total

Answer: There were 4,972 items ordered (being the sum of the quantity column)

In [12]:
print(chipo['quantity'].sum())

4972

Step 13. Turn the item price into a float

In [13]:
# Get get the data types of all the columns in the data frame
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

Begin - Example: (Test out turn item price into a float)

In [21]:
data = {'A': ['1.1', '2.2', '3.3'], 'B': ['4.4', '5.5', '6.6']}

In [22]:
print(data)

{'A': ['1.1', '2.2', '3.3'], 'B': ['4.4', '5.5', '6.6']}

In [23]:
df = pd.DataFrame(data)

In [24]:
print(df)

     A    B
0  1.1  4.4
1  2.2  5.5
2  3.3  6.6

In [25]:
print(df.dtypes)

A    object
B    object
dtype: object

In [26]:
df['A'] =df['A'].astype(float)

In [27]:
print(df)

     A    B
0  1.1  4.4
1  2.2  5.5
2  3.3  6.6

In [28]:
print(df.dtypes)

A    float64
B     object
dtype: object

End - Example: (Test out turn item price into a float)

In [18]:
print(chipo.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

dtype('float64')

In [14]:
chipo['item_price'] = chipo['item_price'].str.replace('$','')

In [30]:
with pd.option_context('display.max_rows', 10,
                        'display.max_columns', None,
                        'display.precision',3):


    print(chipo['item_price'])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [31]:
chipo['item_price'] = chipo['item_price'].astype(float)

 Step 13.a: Check the item price type

In [24]:
print(chipo.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

Step 13.b. Create a lambda function and change the type of item price

Begin - Example: Lambda Functions
https://www.w3schools.com/python/python_lambda.asp

In [1]:
'''
The lamda function enables different versions of the same function e.g. function can double or triple a number passed to it
but the core function is setting the terms of the mulplication allowing the defined function to have different parameters 
but doing the same function
'''

def myfunc(n):
    return lambda a : a * n
    
mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [ ]:
End - Example: Lambda Functions

In [43]:
chipo['item_price'] = chipo['item_price'].astype(object)

In [44]:
chipo.item_price.dtype

dtype('O')

In [45]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [46]:
chipo.item_price.dtype

dtype('float64')

String Slicing

In [50]:
#Note: [1:-1]; slice the first and last latter

v = "$10.98"
v = v[1:-1]

print(v)

10.9